RoiBackend/data/People.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/ROI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="People">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Person">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" />
							<xs:element name="Phone" type="xs:string" />
							<xs:element name="DepartmentId" type="xs:unsignedByte" />
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Street" type="xs:string" />
										<xs:element name="City" type="xs:string" />
										<xs:element name="State" type="xs:string" />
										<xs:element name="Zip" type="xs:string" />
										<xs:element name="Country" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>